{% extends 'base.html' %}
{% block content %}
    <h2>Photos</h2>
    <div class="grid-container">
        {% for blog in blogs %}
            <div class="post">
                <a href="{% url 'view_blog' blog.id %}">
                    <h4>Blog post: {{ blog.title }}</h4>
                    <p><a href="{% url 'edit_blog' blog.id %}">Edit blog</a></p>
                    <img src="{{ blog.photo.image.url }}">
                </a>
            </div>
         {% endfor %}
    </div>
{% endblock content %}