<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fotoblog</title>
</head>
<body>
    <h1>Fotoblog</h1>
    {% block content %}{% endblock content %}
    {% if user.is_authenticated %}
        <p>Hey {{ user }}!</p>
        {% if user.profile_photo %}
            <img class="avatar" src={{ user.profile_photo.url }}>
        {% else %}
            <img class="avatar" src="{% static 'images/default_profile.png'%}">
        {% endif %}
        <p><a href="{% url 'home' %}">Home</a></p>
        <p><a href="{% url 'photo_upload' %}">Upload Photo</a></p>
        <p><a href="{% url 'upload_profile_photo' %}">Change profile photo</a></p>
        <p><a href="{% url 'password_change' %}">Change your password</a></p>
        <p><a href="{% url 'logout' %}">Logout</a></p>
    {% endif %}
</body>
</html>